/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .imgp {
        height: 230px;
    }

    .imgc {
        height: 450px;
    }

    .content {
        padding-left: 20%;
        padding-right: 20%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .content {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .imgc {
        height: 350px;
    }
    
    .logo {
        margin-left: 50px;
    }
    
    .navmenu {
        margin-left: 70px;
    }
    
}

@media only screen and (max-width: 400px) {
    .imgp {
        height: 175px;
    }

    .imgc {
        height: 220px;
    }

    .content {
        padding-left: 5%;
        padding-right: 5%;
    }

    .input_category {
        margin-bottom: 15px;
    }
    
    .button_category {
        margin-top: 0px;
    }

    .foter{
        font-size: 24px;
    }
    
    .navmenu {
        margin-left: 0px;
    }
    .logo {
        margin-left: 0px;
    }

}