.products_link:hover {
    color: rgb(248, 6, 6);
    background-color: rgb(13, 87, 4);
}

.products_link {
    text-decoration: none;
    color: rgb(56, 230, 21);
}

.products {
    border: solid black 5px;
    border-radius: 40px;
    padding: 20px;
    background-color: rgb(15, 121, 221);
}
.products + .products {
    margin-top: 50px;
}

.products_link {
    margin-top: 30px;
    background-color: rgb(79, 43, 148);
    display: inline-block;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
}

.product_link:hover {
    color: rgb(248, 6, 6);
    background-color: rgb(13, 87, 4);
}

.product_link {
    text-decoration: none;
    color: rgb(56, 230, 21);
}

.product {
    border: solid black 5px;
    border-radius: 40px;
    padding: 20px;
    background-color: rgb(15, 121, 221);
}

.product_link {
    margin-top: 30px;
    background-color: rgb(79, 43, 148);
    display: inline-block;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    font-size: 23px;
}

.input_category {
    margin-top: 30px;
    background-color: rgb(155, 152, 160);
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

.button_category {
    margin-top: 30px;
    background-color:  rgb(155, 152, 160);
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}
.button_category:hover {
    color: rgb(255, 253, 253);
    background-color: rgb(0, 0, 0);
}

.cow {
    font-size: 40px;
}

.imgp {
    height: 250px;
}

.imgc {
    height: 500px;
}